.login-page{
    width: 30%;
    padding-left: 5%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    font-family: 'Oswald', sans-serif;
}

#login-main{
    width: 85%;

}